extends layout

block content
  .row
    .col-md-8
      block blogcontent

    .col-md-4
      h2 Latest Posts
      ul
        for post in blog.latest
          li
            a(href=post.name) #{post.meta.title}

      h2 Archive
      ul
        for year, yearNum in blog.archive
          li
            a(href=`archive-${yearNum}`)= yearNum
            ul
              for month, monthNum in blog.archive[yearNum]
                li
                  a(href=`archive-${yearNum}-${monthNum}`)= month[0].meta.moment.format("MMMM")
                  |  (#{month.length})

      h2 Tags
      p
        for tagName in Object.keys(blog.tag).sort()
          a.btn.btn-default.btn-sm(href=`tag-${tagName}`) #{tagName} (#{blog.tag[tagName].length})
          |  

      h2 Feeds
      p
        a(href="/blog/rss20.xml") RSS v2.0
        | , 
        a(href="/blog/atom.xml") Atom
        | , 
        a(href="/blog/feed.json") JSONFeed
        | .
