extends layout

block content

  h3.muted Node.js
  pre.
    var querystring = require('querystring');
    var http  = require('http');

    var query = querystring.stringify({
        input : js
    });

    var req = http.request(
        {
            method   : 'POST',
            hostname : 'javascript-minifier.com',
            path     : '/raw',
        },
        function(resp) {
            // if the statusCode isn't what we expect, get out of here
            if ( resp.statusCode !== 200 ) {
                console.log('StatusCode=' + resp.statusCode);
                return;
            }

            resp.pipe(process.stdout);
        }
    );
    req.on('error', function(err) {
        throw err;
    });
    req.setHeader('Content-Type', 'application/x-www-form-urlencoded');
    req.setHeader('Content-Length', query.length);
    req.end(query, 'utf8');

  include ./language-footer
